::selection {
    background-color: #81af6a;
}
::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
  }

@media (prefers-color-scheme : dark) {
    ::selection {
        background-color: #228B22;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
      }
}